In [2]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv('Article1_data 1.csv')

In [62]:
df.head()

,Auteur,Date,Commentaire,Note
0,JULIE | France | 11/12/2024,2024-12-11T08:23:15+0100,agréables à porter et bon amorti,5/5
1,PIERRETTE | France | 11/12/2024,2024-12-11T08:19:43+0100,Bon produit,5/5
2,VANESSA | France | 10/12/2024,2024-12-10T20:34:23+0100,Bon rapport qualité prix,5/5
3,JEAN CHARLES | France | 10/12/2024,2024-12-10T19:03:24+0100,tiens bien au pied,5/5
4,BARBARA | Femme | France | 10/12/2024,2024-12-10T09:11:33+0100,Utilisée pour la salle de sport et sur tapis d...,5/5

In [64]:
df['Auteur'] = df['Auteur'].str.split('|').str[0].str.strip()

In [66]:
df.head()

,Auteur,Date,Commentaire,Note
0,JULIE,2024-12-11T08:23:15+0100,agréables à porter et bon amorti,5/5
1,PIERRETTE,2024-12-11T08:19:43+0100,Bon produit,5/5
2,VANESSA,2024-12-10T20:34:23+0100,Bon rapport qualité prix,5/5
3,JEAN CHARLES,2024-12-10T19:03:24+0100,tiens bien au pied,5/5
4,BARBARA,2024-12-10T09:11:33+0100,Utilisée pour la salle de sport et sur tapis d...,5/5

In [68]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

In [70]:
df.head()

,Auteur,Date,Commentaire,Note
0,JULIE,2024-12-11,agréables à porter et bon amorti,5/5
1,PIERRETTE,2024-12-11,Bon produit,5/5
2,VANESSA,2024-12-10,Bon rapport qualité prix,5/5
3,JEAN CHARLES,2024-12-10,tiens bien au pied,5/5
4,BARBARA,2024-12-10,Utilisée pour la salle de sport et sur tapis d...,5/5

In [72]:
df['Note'] = df['Note'].str.extract(r'(\d+)').astype(int)

In [74]:
df.head()

,Auteur,Date,Commentaire,Note
0,JULIE,2024-12-11,agréables à porter et bon amorti,5
1,PIERRETTE,2024-12-11,Bon produit,5
2,VANESSA,2024-12-10,Bon rapport qualité prix,5
3,JEAN CHARLES,2024-12-10,tiens bien au pied,5
4,BARBARA,2024-12-10,Utilisée pour la salle de sport et sur tapis d...,5

In [58]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\pc\anaconda3\lib\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

In [86]:
from unidecode import unidecode

def nettoyer_texte(texte):
   
    texte = unidecode(texte) 
    texte = re.sub(r'[^a-zA-Z\s]', '', texte) 
    texte = re.sub(r'\s+', ' ', texte).strip()
    texte = texte.lower()
    return texte

df['Commentaire'] = df['Commentaire'].apply(nettoyer_texte)

In [88]:
df.head(40)

,Auteur,Date,Commentaire,Note
0,JULIE,2024-12-11,agreables a porter et bon amorti,5
1,PIERRETTE,2024-12-11,bon produit,5
2,VANESSA,2024-12-10,bon rapport qualite prix,5
3,JEAN CHARLES,2024-12-10,tiens bien au pied,5
4,BARBARA,2024-12-10,utilisee pour la salle de sport et sur tapis d...,5
5,VIRGINIE,2024-12-09,semelle dure materiaux passables pour la trans...,3
6,NADINE,2024-12-10,achetees pour le travail debout h par jour par...,5
7,Florence,2024-12-09,sa fait longtemps que je prend ce modele et j ...,5
8,Margaux,2024-12-09,chaussures pas cher et qui fait le taf pour co...,5
9,Pascale,2024-12-08,non seulement de glisser sur sol mouille la se...,3
10,JULIE,2024-12-11,agreables a porter et bon amorti,5
11,PIERRETTE,2024-12-11,bon produit,5
12,VANESSA,2024-12-10,bon rapport qualite prix,5
13,JEAN CHARLES,2024-12-10,tiens bien au pied,5
14,BARBARA,2024-12-10,utilisee pour la salle de sport et sur tapis d...,5
15,VIRGINIE,2024-12-09,semelle dure materiaux passables pour la trans...,3
16,NADINE,2024-12-10,achetees pour le travail debout h par jour par...,5
17,Florence,2024-12-09,sa fait longtemps que je prend ce modele et j ...,5
18,Margaux,2024-12-09,chaussures pas cher et qui fait le taf pour co...,5
19,Pascale,2024-12-08,non seulement de glisser sur sol mouille la se...,3
20,JULIE,2024-12-11,agreables a porter et bon amorti,5
21,PIERRETTE,2024-12-11,bon produit,5
22,VANESSA,2024-12-10,bon rapport qualite prix,5
23,JEAN CHARLES,2024-12-10,tiens bien au pied,5
24,BARBARA,2024-12-10,utilisee pour la salle de sport et sur tapis d...,5
25,VIRGINIE,2024-12-09,semelle dure materiaux passables pour la trans...,3
26,NADINE,2024-12-10,achetees pour le travail debout h par jour par...,5
27,Florence,2024-12-09,sa fait longtemps que je prend ce modele et j ...,5
28,Margaux,2024-12-09,chaussures pas cher et qui fait le taf pour co...,5
29,Pascale,2024-12-08,non seulement de glisser sur sol mouille la se...,3
30,JULIE,2024-12-11,agreables a porter et bon amorti,5
31,PIERRETTE,2024-12-11,bon produit,5
32,VANESSA,2024-12-10,bon rapport qualite prix,5
33,JEAN CHARLES,2024-12-10,tiens bien au pied,5
34,BARBARA,2024-12-10,utilisee pour la salle de sport et sur tapis d...,5
35,VIRGINIE,2024-12-09,semelle dure materiaux passables pour la trans...,3
36,NADINE,2024-12-10,achetees pour le travail debout h par jour par...,5
37,Florence,2024-12-09,sa fait longtemps que je prend ce modele et j ...,5
38,Margaux,2024-12-09,chaussures pas cher et qui fait le taf pour co...,5
39,Pascale,2024-12-08,non seulement de glisser sur sol mouille la se...,3

In [84]:
print(df.isnull().sum())

Auteur         0
Date           0
Commentaire    0
Note           0
dtype: int64

In [94]:
df.to_csv('data_pretraite.csv', index=False, encoding='utf-8')